body {
	background-color: rgb(199, 210, 221, .5);
}

.header {
	padding: 0;
	text-align: center;
}

header {
	padding: 15px;
	color: whitesmoke;
}

#searchbar {
	height: 60px;
	margin: 15px auto;
	max-width: 600px;
}

.search-container {
	padding: 0;
}

.content {
	color: #343a40;
}

h3 {
	text-align: center;
}
