body {
	background-color: rgb(199, 210, 221, .5);
	font-family: 'Montserrat', sans-serif;
}

.header {
	padding: 0;
	text-align: center;
}

header {
	padding: 15px;
	color: whitesmoke;
}

#searchbar {
	height: 60px;
	margin: 15px auto;
	max-width: 600px;
}

.search-container {
	padding: 0;
}

.content {
	color: #343a40;
}

h3 {
	text-align: center;
}

.current-container,
.fiveday-container {
	background-color: whitesmoke;
	margin: 0px 15px 15px 0px;
}

.current,
.fiveday {
	padding: 15px;
}

.card {
	height: 160px;
	margin-left: 6px;
	padding: 0;
}

.card-body {
	padding: 5px 0px 0px 0px;
}

.card-title {
	text-align: center;
	margin-bottom: 5px;
}

.last {
	margin-right: 15px;
}

p {
	margin-bottom: 2px;
}
